/* ========== VARIABLES ========== */
$font-main: 'Poppins', sans-serif;
$font-bg-design: 'Lora', serif;
$font-team-quote: 'Roboto', sans-serif;

$brand-color: #FF6E30;
$brand-bgcolor: #1E252B;
$brand-focus: #283036;
$text-main-color: #fff;
$text-signup-button-color: #FDF5FF;
$text-team-title-color: #FFFDFD;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* ========== /VARIABLES ========== */