<section class="section">
  <div class="container">
    <h2 class="hidden">I am customers</h2>

    <h3 class="customers-title">Trusted more than 150+ brand</h3>
    <ul class="customers-list">
      <li class="customers-list__item">
        <svg class="customers-list__icon">
          <use href="./images/icons.svg#microsoft-brand"></use>
        </svg>
      </li>
      <li class="customers-list__item">
        <svg class="customers-list__icon">
          <use href="./images/icons.svg#google-brand"></use>
        </svg>
      </li>
      <li class="customers-list__item">
        <svg class="customers-list__icon">
          <use href="./images/icons.svg#slack-brand"></use>
        </svg>
      </li>
      <li class="customers-list__item">
        <svg class="customers-list__icon">
          <use href="./images/icons.svg#wordpress-brand"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
