<section class="section">
  <div class="container">
    <h2 class="hidden">I am customers</h2>

    <h3 class="section__title section__title--h3">
      <!-- треба придумати назву цьому класу -->
      Trusted more than 150+ brand
    </h3>
    <ul class="customers">
      <li class="customers__item">
        <svg class="customers__brand-name">
          <use href="./images/icons.svg#microsoft"></use>
        </svg>
      </li>
      <li class="customers__item">
        <svg class="customers__brand-name">
          <use href="./images/icons.svg#google"></use>
        </svg>
      </li>
      <li class="customers__item">
        <svg class="customers__brand-name">
          <use href="./images/icons.svg#slak"></use>
        </svg>
      </li>
      <li class="customers__item">
        <svg class="customers__brand-name">
          <use href="./images/icons.svg#word-press"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
