<section class="section">
  <div class="container">
    <h2 class="hidden">I am footer</h2>
    <nav class="footer-nav">
      <div>
        <div class="copyright">
          <a href="./" class="logo">
            <svg class="logo__icon">
              <use href="./images/icons.svg#logo"></use></svg
            >antools.</a
          >
          <h3 class="copyright__title">Copyright 2021. Antools</h3>
          <p class="copyright__text">
            Antool is a web collection of information on paid or free Design and
            Development tools
          </p>
        </div>

        <ul class="columns">
          <li class="columns__item">
            <h3 class="columns__title">Contact Us</h3>
            <address>
              <ul>
                <li><a href="tel:+621987463">+621987463</a></li>
                <li>
                  <a
                    href="https://goo.gl/maps/csTUW6vFvjiGMf6m9"
                    target="_blank"
                    rel="noreferrer noopener nofollow"
                    >M Building, No.10 A</a
                  >
                </li>
                <li>
                  <a href="mailto:antools@awesome.com">antools@awesome.com</a>
                </li>
              </ul>
            </address>
          </li>
          <li class="columns__item">
            <h3 class="columns__title">Categories</h3>
            <ul>
              <li>Design</li>
              <li>Development</li>
            </ul>
          </li>
          <li class="columns__item">
            <h3 class="columns__title">Company Info</h3>
            <ul>
              <li>About Us</li>
              <li>Our Partners</li>
              <li>Blog</li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <ul></ul>
  </div>
</section>
