<header class="section">
  <div class="container">
    <h2 class="hidden">I am header</h2>

    <nav>
      <div class="logo">
        <svg class="customers__brand-name">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        <a href="./">antools.</a>
      </div>
      <ul class="nav">
        <li class="nav__item">Home</li>
        <li class="nav__item">Categories</li>
        <li class="nav__item">My Collections</li>
        <li class="nav__item">Blog</li>
      </ul>
      <ul class="accsess">
        <li class="accsess__item">Login</li>
        <li class="accsess__item">Sing Up</li>
      </ul>
    </nav>
  </div>
</header>
