<section class="section">
  <div class="container">
    <h2 class="hidden">I am hero</h2>

    <h1 class="hero-title">
      Awesome tools for <br />
      Designer & Developer.
    </h1>
    <p class="section-text">
      Antool is a web collection of information on paid or free Design and
      Development tools
    </p>
    <form class="search">
      <label>
        <span>
          <input
            type="text"
            name="search-name"
            class="search__input"
            placeholder="find more than 430+ tools..."
          />
          <svg class="modal__icon">
            <use href="../images/icons.svg#magnifier"></use>
          </svg>
        </span>
        <button>Search</button>
      </label>
    </form>
    <ul class="socials">
      <li class="socials__item">Facebook</li>
      <li class="socials__item">Instagram</li>
      <li class="socials__item">Twitter</li>
    </ul>
  </div>
</section>
