<section class="section">
  <div class="container">
    <h2 class="hidden">I am hero</h2>
    <div class="hero-bg">
      <svg class="hero-bg__icon">
        <use href="./images/icons.svg#hero-bg"></use>
      </svg>
    </div>
    <h1 class="hero-title">
      Awesome tools for <br />
      Designer & Developer.
    </h1>
    <p class="section-text">
      Antool is a web collection of information on paid or free Design and
      Development tools
    </p>

    <form class="search">
      <label>
        <span>
          <input
            type="text"
            name="search-text"
            class="search__input"
            placeholder="find more than 430+ tools..."
          />
          <svg class="search__icon">
            <use href="./images/icons.svg#search"></use>
          </svg>
        </span>
        <button>Search</button>
      </label>
    </form>
    <ul class="socials">
      <li class="socials__item">
        <svg class="socials__icon">
          <use href="./images/icons.svg#facebook"></use>
        </svg>
      </li>

      <li class="socials__item">
        <svg class="socials__icon">
          <use href="./images/icons.svg#instagram"></use>
        </svg>
      </li>

      <li class="socials__item">
        <svg class="socials__icon">
          <use href="./images/icons.svg#twitter"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
