<section class="section">
  <div class="container">
    <h2 class="hidden">I am joinus</h2>

    <h2 class="section-title">Become a contributor?</h2>
    <p class="section-text">
      Join us and get tips & tricks to become a great Designer and Developer
    </p>

    <form class="member">
      <label>
        <span>
          <input
            type="text"
            name="member-email"
            class="member__email"
            placeholder="Enter your email..."
          />
        </span>
        <button>Join Us</button>
      </label>
    </form>
  </div>
</section>
