<section class="section">
  <div class="container">
    <h2 class="hidden">I am new-tools</h2>
    <div>
      <h2 class="section-title">Newcomer Tools</h2>
      <p class="section-text">
        Wow! see the latest update of the most recommended tools from reliable
        designers and developers
      </p>
      <button>Explore more</button>
    </div>
    <div>
      <ul class="newcomer-card">
        <li class="newcomer-card__item">
          <svg class="customers__brand-name">
            <use href="./images/icons.svg#zeplin"></use>
          </svg>

          <h3>Zeplin</h3>
          <p>Free & Paid</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div>
            <div>
              <svg class="pop-cards__heart">
                <use href="./images/icons.svg#heart"></use>
              </svg>
              <svg class="pop-cars__folder-plus">
                <use href="./images/icons.svg#folder-plus"></use>
              </svg>
            </div>
            <button>visit</button>
          </div>
        </li>

        <li class="newcomer-card__item">
          <svg class="customers__brand-name">
            <use href="./images/icons.svg#phpstorm"></use>
          </svg>

          <h3>PHPStorm</h3>
          <p>Free</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div>
            <div>
              <svg class="pop-cards__heart">
                <use href="./images/icons.svg#heart"></use>
              </svg>
              <svg class="pop-cars__folder-plus">
                <use href="./images/icons.svg#folder-plus"></use>
              </svg>
            </div>
            <button>visit</button>
          </div>
        </li>
        <li class="newcomer-card__item">
          <svg class="customers__brand-name">
            <use href="./images/icons.svg#toolbox"></use>
          </svg>
          <h3>Toolbox</h3>
          <p>Free</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div>
            <div>
              <svg class="pop-cards__heart">
                <use href="./images/icons.svg#heart"></use>
              </svg>
              <svg class="pop-cars__folder-plus">
                <use href="./images/icons.svg#folder-plus"></use>
              </svg>
            </div>
            <button>visit</button>
          </div>
        </li>
        <li class="newcomer-card__item">
          <svg class="customers__brand-name">
            <use href="./images/icons.svg#procreate"></use>
          </svg>
          <h3>Procreate</h3>
          <p>Paid</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div>
            <div>
              <svg class="pop-cards__heart">
                <use href="./images/icons.svg#heart"></use>
              </svg>
              <svg class="pop-cars__folder-plus">
                <use href="./images/icons.svg#folder-plus"></use>
              </svg>
            </div>
            <button>visit</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
