<section class="section">
  <div class="container">
    <h2 class="hidden">I am pop-tools</h2>
    <h2 class="section-title">Most Popular Tools</h2>
    <p class="section-text">
      Tools for the best Designers and Developers most popularly used in the
      world
    </p>
    <ul class="cards cards__pop">
      <li class="cards__item">
        <svg class="cards__icon">
          <use href="./images/icons.svg#figma"></use>
        </svg>
        <h3>Figma</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <div class="fun-icons">
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#folder-plus"></use>
            </svg>
          </div>
          <button>visit</button>
        </div>
      </li>
      <li class="cards__item">
        <svg class="cards__icon">
          <use href="./images/icons.svg#sketch"></use>
        </svg>
        <h3>Sketch</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <div class="fun-icons">
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#folder-plus"></use>
            </svg>
          </div>
          <button>visit</button>
        </div>
      </li>
      <li class="cards__item">
        <svg class="cards__icon">
          <use href="./images/icons.svg#visual-studio-code"></use>
        </svg>
        <h3>Visual Studio Code</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <div class="fun-icons">
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#folder-plus"></use>
            </svg>
          </div>
          <button>visit</button>
        </div>
      </li>
      <li class="cards__item">
        <svg class="cards__icon">
          <use href="./images/icons.svg#notion"></use>
        </svg>
        <h3>Notion</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <div class="fun-icons">
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#folder-plus"></use>
            </svg>
          </div>
          <button>visit</button>
        </div>
      </li>
      <li class="cards__item">
        <svg class="fun-icons__icon">
          <use href="./images/icons.svg#slack"></use>
        </svg>
        <h3>Slack</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <div class="fun-icons">
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#folder-plus"></use>
            </svg>
          </div>
          <button>visit</button>
        </div>
      </li>
      <li class="cards__item">
        <svg class="cards__icon">
          <use href="./images/icons.svg#invision"></use>
        </svg>
        <h3>Invision</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div>
          <div class="fun-icons">
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
            <svg class="fun-icons__icon">
              <use href="./images/icons.svg#folder-plus"></use>
            </svg>
          </div>
          <button>visit</button>
        </div>
      </li>
    </ul>
    <button>Load more</button>
  </div>
</section>
