<section class="section">
  <div class="container">
    <h2 class="hidden">I am team</h2>
    <div class="slider">
      <div class="employee">
        <img
          class="employee__picture"
          srcset="./images/employee01_2x.jpg 2x, ./images/employee01_3x.jpg 3x"
          src="./images/employee01_1x.jpg"
          alt="Співробітник №1"
        />
        <div>
          <h4 class="employee__title">Ronald Richards</h4>
          <p class="employee__description">Product Manager</p>
          <p class="employee__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
            reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
            velit labore occaecat do deserunt Lorem magna officia incididunt
            consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
          <ul class="scroll">
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
          </ul>
        </div>
      </div>
      <div class="employee">
        <img
          class="employee__picture"
          srcset="./images/employee01_2x.jpg 2x, ./images/employee01_3x.jpg 3x"
          src="./images/employee01_1x.jpg"
          alt="Співробітник №1"
        />
        <div>
          <h4 class="employee__title">Ronald Richards</h4>
          <p class="employee__description">Product Manager</p>
          <p class="employee__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
            reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
            velit labore occaecat do deserunt Lorem magna officia incididunt
            consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
          <ul class="scroll">
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
          </ul>
        </div>
      </div>
      <div class="employee">
        <img
          class="employee__picture"
          srcset="./images/employee01_2x.jpg 2x, ./images/employee01_3x.jpg 3x"
          src="./images/employee01_1x.jpg"
          alt="Співробітник №1"
        />
        <div>
          <h4 class="employee__title">Ronald Richards</h4>
          <p class="employee__description">Product Manager</p>
          <p class="employee__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
            reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
            velit labore occaecat do deserunt Lorem magna officia incididunt
            consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
          <ul class="scroll">
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
          </ul>
        </div>
      </div>
      <div class="employee">
        <img
          class="employee__picture"
          srcset="./images/employee01_2x.jpg 2x, ./images/employee01_3x.jpg 3x"
          src="./images/employee01_1x.jpg"
          alt="Співробітник №1"
        />
        <div>
          <h4 class="employee__title">Ronald Richards</h4>
          <p class="employee__description">Product Manager</p>
          <p class="employee__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
            reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
            velit labore occaecat do deserunt Lorem magna officia incididunt
            consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
          <ul class="scroll">
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
            <li class="scroll__item"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
